<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580382637618-1st9iu93a9o2degj7cicaka13fvikfdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580382637618-1st9iu93a9o2degj7cicaka13fvikfdg</string>
	<key>API_KEY</key>
	<string>AIzaSyAri5xKLUQSOS8kFnjd4FVSNNBOXsq6kK8</string>
	<key>GCM_SENDER_ID</key>
	<string>580382637618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLabFirebas</string>
	<key>PROJECT_ID</key>
	<string>flutter-lab-firebase-32338</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lab-firebase-32338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580382637618:ios:1d03af5288a52ede34862b</string>
</dict>
</plist>